{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "all",
  "racketSpacing": true,
  "jsxBracketSameLine": true,
  "error": {
    "endOfLine": "auto"
  }
}
